<ul class="bullet">
  <ng-container *ngFor="let i of get_data">
    <ng-container *ngIf="i.length==1">
      <ng-container *ngFor="let t of i">
        <li class="alonedot first">
          <div class="circle"></div>
          <div class="title">{{t.title}}</div>
          <p class="date">{{t.date}}</p>
          <p class="description" id="desc-{{t.id}}"><span>{{_subst(t.desc)}}</span>
            <span *ngIf="t.desc.length > 200">&nbsp;...&nbsp; <a  (click)="show(t.id, $event)">More</a></span>
          </p>
        </li>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="i.length>1">
      <ng-container *ngFor="let t of i; let m = index">
        <ng-container *ngIf="m==0">
          <li class="dot first">
            <div class="circle"></div>
            <div class="title">{{t.title}}</div>
            <p class="date">{{t.date}}</p>
            <p class="description" id="desc-{{t.id}}"><span>{{_subst(t.desc)}}</span>
              <span *ngIf="t.desc.length > 200">&nbsp;...&nbsp; <a  (click)="show(t.id, $event)">More</a></span>
            </p>
          </li>
        </ng-container>
        <ng-container *ngIf="m+1==i.length">
          <li class="lastdot">
            <div class="title">{{t.title}}</div>
            <p class="date">{{t.date}}</p>
            <p class="description" id="desc-{{t.id}}"><span>{{_subst(t.desc)}}</span>
              <span *ngIf="t.desc.length > 200">&nbsp;...&nbsp; <a  (click)="show(t.id, $event)">More</a></span>
            </p>
          </li>
        </ng-container>
        <ng-container *ngIf="m+1!=i.length && m+1 > 1">
          <li class="dot">
            <div class="title">{{t.title}}</div>
            <p class="date">{{t.date}}</p>
            <p class="description" id="desc-{{t.id}}"><span>{{_subst(t.desc)}}</span>
              <span *ngIf="t.desc.length > 200">&nbsp;...&nbsp; <a  (click)="show(t.id, $event)">More</a></span>
            </p>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>


  <li *ngIf="data.experience.length > 2" class="show" (click)="showmore($event)">Show More</li>
</ul>