/* bullet */
ul.bullet {
    padding-left: 15px;
    margin-top: 96px;
    position: relative;
    left: 75px;
    width: calc(600px - 80px);
}
ul.bullet li {
    padding-left: 0;
    margin-bottom: 2.5em;
    list-style: none;
}

ul.bullet li.show {
    margin-top: 39px;
    font-family: roboto;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

ul.bullet .title {
    font-size: 13px;
    font-family: roboto;
    display: inline;
    margin-right: 0.5em;
    color: #393b3e;
}

ul.bullet .description {
    display: block;
    font-size: 12px;
    font-family: roboto;
    margin-top: 0.5em;
    color: #393b3e;
}
ul.bullet .description a{
    color: #393b3e;
    text-decoration: none;
    font-family: roboto;
    font-weight: bold;
    font-size: 11px;
}

ul.bullet .date{
    font-size: 13px;
    font-family: roboto;
    margin: 5px 0 5px 0;
    padding: 0;
}

/* BORDERS AND BULLETS */

p {
    /*CSS reset*/
    margin-bottom: 0;
}

ul.bullet li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/ 
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 2.5em;
}

ul.bullet li.dot:after {
    /* bullets */
    content: '\25CF';
    color: #393b3e;
    position: absolute;
    font-size: 25px;
    left: -23px;
    top: -4px;
}

ul.bullet li.dot:before {
    /* lines */
    content:"";
    position: absolute;
    left: -16px; /* adjust manually */
    top: 12px;
    border-left: 2px solid #393b3e;
    height: 100%;
    width: 1px;
}

ul.bullet li.dot:first-child:before {
   /* first li's line */
   top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.bullet li.dot:last-child:before {
    /* last li's line */
   height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

ul.bullet li.lastdot:after {
    /* bullets */
    content: '\25CF';
    color: #393b3e;
    position: absolute;
    font-size: 25px;
    left: -23px;
    top: -4px;
}

ul.bullet li.alonedot:after {
    /* bullets */
    content: '\25CF';
    color: #393b3e;
    position: absolute;
    font-size: 25px;
    left: -23px;
    top: -4px;
}

.circle{
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    background-color: #393b3e;
    border-radius: 50%;
    position: absolute;
    left: -90px;
}
