<div id="container">
    <div class="page-item">
      <label class="infotext">Info</label>
    </div>
    <div class="page-item">
      <input type="text" value="" placeholder="Full Name" id="fullname">
    </div>
    <div class="page-item">
      <div class="select country">
          <input type="text" value="" placeholder="Country" id="country" (input)="filter($event)" autocomplete="off" on-click="autocomplate($event)" />
          <div class="scroll">
            <div *ngFor="let item of get_country" (click)="set(item.value)">{{item.label}}</div>
          </div>
        </div>
    </div>

    <div class="page-item">
      <ul id="date-piker">
        <li>
          <span class="from">From</span>
          <div class="select year" id="year-from" (click)="collapse($event)">
            <div>Year</div>
            <div class="scroll">
              <div (click)="select($event)">1990</div>
              <div (click)="select($event)">1991</div>
              <div (click)="select($event)">1992</div>
              <div (click)="select($event)">1993</div>
              <div (click)="select($event)">1994</div>
            </div>
          </div>
          <div class="select month" (click)="collapse($event)">
            <div>Month</div>
            <div class="scroll">
              <div (click)="select($event)">Jan</div>
              <div (click)="select($event)">Feb</div>
              <div (click)="select($event)">Mar</div>
              <div (click)="select($event)">Apr</div>
              <div (click)="select($event)">May</div>
              <div (click)="select($event)">Jun</div>
              <div (click)="select($event)">Jul</div>
              <div (click)="select($event)">Aug</div>
              <div (click)="select($event)">Sept</div>
              <div (click)="select($event)">Oct</div>
              <div (click)="select($event)">Nov</div>
              <div (click)="select($event)">Dec</div>
            </div>
          </div>
        </li>
        <li *ngIf="to">
          <span class="to">To</span>
          <div class="select year" id="year" (click)="collapse($event)">
            <div>Year</div>
            <div class="scroll">
              <div (click)="select($event)">1990</div>
              <div (click)="select($event)">1991</div>
              <div (click)="select($event)">1992</div>
              <div (click)="select($event)">1993</div>
              <div (click)="select($event)">1994</div>
            </div>
          </div>
          <div class="select month" (click)="collapse($event)">
            <div>Month</div>
            <div class="scroll">
              <div (click)="select($event)">Jan</div>
              <div (click)="select($event)">Feb</div>
              <div (click)="select($event)">Mar</div>
              <div (click)="select($event)">Apr</div>
              <div (click)="select($event)">May</div>
              <div (click)="select($event)">Jun</div>
              <div (click)="select($event)">Jul</div>
              <div (click)="select($event)">Aug</div>
              <div (click)="select($event)">Sept</div>
              <div (click)="select($event)">Oct</div>
              <div (click)="select($event)">Nov</div>
              <div (click)="select($event)">Dec</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="page-item">
      <div class="pure-checkbox">
        <input id="checkbox1" name="checkbox" type="checkbox" (change)="currentliwork($event)">
        <label for="checkbox1">I Currently Work</label>
      </div>
    </div>
    <div class="page-item">
      <span class="button" *ngIf="!loading" (click)="save()">Save</span>
      <span class="spinner" *ngIf="loading"></span>
    </div>
    <app-experience [data]="data"></app-experience>
</div>